/* to reset the css properties of all elements to their default values */
@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: light dark;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

/* for custom property to all size of the screen and base style */
@layer base {
  :root {

    --clr-peach: hsl(11, 73%, 66%);
    --clr-light-peach: hsl(11, 100%, 80%);
    --clr-black: hsl(270, 3%, 11%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark-grey: hsl(264, 5%, 20%);
    --clr-light-grey: hsl(210, 17%, 95%);

    --ff: "Jost", sans-serif;

    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 1.25rem;
    --fs-a: 0.875rem;
    --fs-body: 1rem;


    --line-heigth-h1: 3rem;
    --line-heigth-h2: 3rem;
    --line-heigth-h3: 1.625rem;
    --line-heigth-body: 1.625rem;

    --letter-spacing-h2: 2px;
    --letter-spacing-h3: 5px;


    @media screen and (width <=612px) {
      --fs-h1: 2rem;
      --fs-h2: 1.75rem;
      --fs-h3: 1.25rem;

      --line-heigth-h1: 2.5rem;
      --line-heigth-h2: 2.25rem;
      --line-heigth-h3: 1.625rem;
    }

  }

  body {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-white);
    color: var(--clr-black);
  }

  h1,
  h2,
  h3 {
    font-weight: 500;
  }

  h1 {
    font-size: var(--fs-h1);
    line-height: var(--line-heigth-h1);
  }

  h2 {
    font-size: var(--fs-h2);
    line-height: var(--line-heigth-h2);
    letter-spacing: var(--letter-spacing-h2)
  }

  h3 {
    font-size: var(--fs-h3);
    line-height: var(--line-heigth-h3);
    letter-spacing: var(--letter-spacing-h3)
  }


  a {
    font-size: var(--fs-a);
    line-height: var(--line-heigth-h3);
    /* color: var(--clr-dark-grey); */
    letter-spacing: var(--letter-spacing-h2);
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    text-decoration: underline;
    text-decoration-color: var(--clr-dark-grey);
  }

  ul {
    list-style: none;
  }

  p {
    font-weight: 400;
    font-size: var(--fs-body);
    line-height: var(--line-heigth-body);
  }



}


/* for the generic propreties  */
@layer layout {
  main {
    position: relative;
    padding-block: 4.2rem 10rem;


    @media screen and (min-width : 790px) {
      background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
      background-repeat: no-repeat;
      background-position-y: 327px;
      background-size: contain;
    }


    @media screen and (width < 630px) {
      padding-block-start: 0;
    }

  }

  /* float between section in the main */
  main>*+* {
    margin-block-start: 10rem;
  }

  @media (width > 790px) {
    main::before {
      content: '';
      position: absolute;
      top: 146px;
      width: 100%;
      height: 100%;
      background-image: url('./assets/shared/desktop/bg-pattern-leaf.svg');
      background-repeat: no-repeat;
      background-size: contain;
      transform-origin: center;
      transform: rotate(180deg);
      z-index: -1;

    }
  }

  @media (width > 1006px) {

    main,
    main::before {
      background-size: auto;
    }

  }





  .wrapper {
    --wrapper-width: 686px;

    max-width: calc(var(--wrapper-width) + 5rem);


    margin-inline: auto;

    @media screen and (width > 790px) {
      --wrapper-width: 1111px;

    }

    @media screen and (width <1190px) {
      margin-inline: 2.5rem;
    }


  }

  .section {
    padding-block: 5rem;
  }

  .equal-column {
    display: grid;
    gap: var(--equal-column-gap, 1.875rem);
    height: 100%;

    @media (width > 790px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }


  }

  .services {
    height: 640px;

    .wrapper {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);

      @media screen and (width <=790px) {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
      }
    }
  }

  .card div {
    display: flex;
    gap: 21px;
  }

  .line {
    width: 100%;
    height: 1px;
    background-color: var(--clr-dark-grey);
    margin: 40px 0 31px;
  }


}


@layer components {
  header {
    /* position: relative; */
    margin-block-start: 64px;

    @media screen and (width < 630px) {
      margin: 35px 24px;
    }

    @media screen and (width < 630px) {
      /* margin-block-start: 40px; */

      nav .nav-links.open {
        display: flex;
        opacity: 1;


        @starting-style {
          display: flex;
          opacity: 0;
        }

        li {
          translate: 0;
          opacity: 1;

          @starting-style {
              translate: 100%;
              opacity: 0;
          }
      }


      }

      nav .nav-links {
        display: none;
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--clr-light-grey);
        flex-direction: column;
        padding: 2.5rem 4rem 1rem 1rem;
        z-index: 2;
        border-bottom-left-radius: 10px;

        transition: display 1s, opacity 1s;
        transition-behavior: allow-discrete;

        li {
          translate: 0;
          opacity: 1;

          transition: opacity 300ms, translate 875ms;
          transition-delay: var(--delay, 125ms);

          &:nth-child(2) {
              --delay: 250ms;
          }

          &:nth-child(3) {
              --delay: 325ms;
          }
      }
      }




    }

  }


  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;



    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2.625rem;
      margin: 0;

      @media screen and (width < 760px) {
        gap: 1rem;
        padding-left: 0;

      }
    }

    &>img {
      width: 220px;
    }

    a {
      position: relative;
    }

    &.primary-navigation a {
      color: var(--clr-dark-grey)
    }

    &.footer-navigation a {
      color: var(--clr-white);

    }

    button {
      display: none;

      @media screen and (width < 630px) {
        display: block;
        position: relative;
        z-index: 3;
      }
    }
  }



  .site-hero {
    height: 640px;
    display: flex;
    align-items: center;
    background-color: var(--clr-peach);
    background-image: url('./assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 15px;
    color: var(--clr-white);

    @media screen and (width < 790px) {
      height: 843px;
      flex-direction: column;
      background-position: 121px;
      ;
    }

    @media screen and (width <=630px) {
      border-radius: 0;
      background-size: 640px 640px;
      background-position: 0px;
      margin-inline: 0;
    }

  }


  .hero-content {
    width: 50%;
    height: auto;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;



    @media screen and (width < 790px) {
      width: 100%;
      height: 50%;
      margin-left: 0;
      padding: 60px 58px 0;
      align-items: center;
      gap: 19px;

      p,
      h1 {
        text-align: center;
      }

    }

    @media screen and (width < 612px) {
      gap: 14px;
      padding: 80px 24px 0;
    }


    p {
      text-wrap: balance;
    }

  }

  .hero-image {
    height: 100%;
    overflow-y: hidden;

    @media screen and (width < 790px) {
      img {
        position: relative;
        top: -60px;
      }
    }

    @media screen and (width < 612px) {
      img {
        object-fit: cover;
        aspect-ratio: 1/2;
      }
    }
  }

  header button {
    background: none;
    border: none;
  }

  section button {
    height: 52px;
    width: 152px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &[data-theme="dark"] {
      color: var(--clr-dark-grey);
      background-color: white;
    }

    &[data-theme="light"] {
      color: var(--clr-white);
      background-color: var(--clr-peach);
    }


  }



  section button:hover,
  section button:focus-visible {
    color: var(--clr-white);
    background-color: var(--clr-light-peach);
  }

  .card {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    border-radius: 15px;
    color: var(--clr-white);
    text-transform: uppercase;
    overflow: hidden;
    text-align: center;

    h2,
    div {
      z-index: 2;
    }

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      width: 0;
      height: 100%;
      background-color: var(--clr-peach);
      opacity: 0.8;
      transition: width 0.3s;
    }
  }

  .card:hover {

    &::before {
      width: 100%;
    }

  }

  .services .card:nth-child(1) {

    background-image: url('./assets/home/desktop/image-web-design-large.jpg');
    background-position: center;
    background-size: cover;
    grid-row: span 2;

    @media screen and (width <=790px) {
      grid-row: 1;
    }
  }

  .services .card:nth-child(2) {
    background-image: url('./assets/home/desktop/image-app-design.jpg');
    background-position: center;
    background-size: cover;
  }

  .services .card:nth-child(3) {
    background-image: url('./assets/home/desktop/image-graphic-design.jpg');
    background-position: center;
    background-size: cover;
  }

  .qualification {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 48px;


    img {
      background-image: url('./assets/home/desktop/bg-pattern-hero-home.svg');
      background-position: center;
      background-size: cover;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 32px;
      text-align: center;
    }

    @media screen and (width < 790px) {
      flex-direction: row;

    }

    @media screen and (width < 612px) {
      flex-direction: column;
    }


  }

  footer {
    --height-footer: 393px;
    --space-btnCta-btnFooter: 321px;
    --height-cta: 292px;
    --point: calc(var(--height-cta) - (var(--height-footer) - var(--space-btnCta-btnFooter)));
    z-index: 1;
  }

  .call-to-action {


    height: var(--height-cta);
    background-image: linear-gradient(to bottom, transparent var(--point), black var(--point), black 100%);
    z-index: 2;

    @media screen and (width < 790px) {
      --height-cta: 350px;


    }

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      background-color: var(--clr-peach);
      border-radius: 15px;
      background-image: url('./assets/shared/desktop/bg-pattern-call-to-action.svg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right;

      @media screen and (width < 790px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        gap: 32px;

      }

    }



    .cta-content {
      display: flex;
      flex-direction: column;
      gap: 10pX;
      width: 40%;
      color: white;

      @media screen and (width < 790px) {
        width: 75%;
      }
    }
  }

  .footer-navigation {
    flex-wrap: wrap;

    @media screen and (width < 790px) {

      justify-content: center;

      .line {
        flex-basis: 100%;
        order: 2;
      }

      ul {
        order: 3;
        flex-direction: column;
        text-align: center;
        padding-left: 0;
      }


    }
  }


  footer>.call-to-action+section {
    padding-top: calc(var(--height-footer) - var(--space-btnCta-btnFooter));
    background-color: black;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 72px;
    font-weight: 500;
    font-size: var(--fs-body);
    line-height: var(--line-heigth-body);


    .footer-social-media {
      display: flex;
      align-self: flex-end;
      justify-content: space-between;
      gap: 16px;

      @media screen and (width < 790px) {
        align-self: center;

      }
    }

    @media screen and (width < 790px) {
      margin-block-start: 40px;
      flex-direction: column;
      gap: 40px;
      text-align: center;

    }
  }

  .footer-social-media svg {
    cursor: pointer;
    color: var(--clr-peach);

    &:hover {
      color: var(--clr-light-peach);
    }

  }

  .footer-address {
    display: flex;
    width: 50%;
    justify-content: space-between;

    @media screen and (width < 790px) {
      flex-direction: column;
      gap: 40px;
      /* width: 100%; */
    }
  }

  .footer-location,
  .footer-contact {
    color: var(--clr-white);
    opacity: 50%;

    p:first-child {
      font-weight: bold;
    }
  }







}


@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .bg-primary-peach {
    background-color: var(--clr-peach)
  }

  .bg-second-light-peach {
    background-color: var(--clr-light-peach)
  }

  .bg-dark-grey {
    background-color: var(--clr-dark-grey)
  }

  .bg-dark {
    background-color: var(--clr-black)
  }



  .text-peach {
    color: var(--clr-peach)
  }

  .text-white {
    color: var(--clr-white)
  }

  .text-dark-grey {
    color: var(--clr-dark-grey)
  }

  .text-black {
    color: var(--clr-black)
  }

  .text-center {
    text-align: center;
  }


}