/* to reset the css properties of all elements to their default values */
@layer reset {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  /* https://kilianvalkhof.com/2022/css-html/your-css-reset-needs-text-size-adjust-probably/ */
  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    color-scheme: light dark;
  }

  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }

  /* https://www.scottohara.me/blog/2019/01/12/lists-and-safari.html */
  [role="list"] {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  body {
    min-block-size: 100vh;
    line-height: 1.6;
  }

  h1,
  h2,
  h3,
  button,
  input,
  label {
    line-height: 1.1;
  }

  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
  }

  p,
  li {
    text-wrap: pretty;
  }

  img,
  picture {
    max-inline-size: 100%;
    display: block;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
  }
}

/* for custom property to all size of the screen and base style */
@layer base {
  :root {

    --clr-peach: hsl(11, 73%, 66%);
    --clr-light-peach: hsl(11, 100%, 80%);
    --clr-black: hsl(270, 3%, 11%);
    --clr-white: hsl(0, 0%, 100%);
    --clr-dark-grey: hsl(264, 5%, 20%);
    --clr-light-grey: hsl(210, 17%, 95%);

    --ff: "Jost", sans-serif;

    --fs-h1: 2rem;
    --fs-h2: 1.75rem;
    --fs-h3: 1.25rem;
    --fs-a: 0.875rem;
    --fs-body: 1rem;


    --line-heigth-h1: 3rem;
    --line-heigth-h2: 3rem;
    --line-heigth-h3: 1.625rem;
    --line-heigth-body: 1.625rem;

    --letter-spacing-h2: 2px;
    --letter-spacing-h3: 5px;

    @media (width > 760px) {
      --fs-h1: 3rem;
      --fs-h2: 2.5rem;
      --fs-h3: 1.25rem;

    }

  }

  body {
    font-family: var(--ff);
    font-size: var(--fs-body);
    background-color: var(--clr-white);
    color: var(--clr-black);
  }

  h1,
  h2,
  h3 {
    font-weight: 700;
  }

  h1 {
    font-size: var(--fs-h1);
    line-height: var(--line-heigth-h1);
  }

  h2 {
    font-size: var(--fs-h2);
    line-height: var(--line-heigth-h2);
    letter-spacing: var(--letter-spacing-h2)
  }

  h3 {
    font-size: var(--fs-h3);
    line-height: var(--line-heigth-h3);
    letter-spacing: var(--letter-spacing-h3)
  }


  a {
    font-size: var(--fs-a);
    line-height: var(--line-heigth-h3);
    color: var(--clr-dark-grey);
    letter-spacing: var(--letter-spacing-h2);
    text-decoration: none;
  }

  a:hover,
  a:focus-visible {
    text-decoration: underline;
    text-decoration-color: var(--clr-dark-grey);
    /* text-decoration-thickness: 1px; */
  }

  ul {
    list-style: none;
  }



}


/* for the generic propreties  */
@layer layout {
  main {
    padding-block: 4.2rem 10rem;
  }

  /* float between section in the main */
  main>*+* {
    padding-block-start: 10rem;
  }

  .wrapper {
    --wrapper-width: 686px;

    max-width: calc(var(--wrapper-width) + 5rem);
    margin-inline: auto;
    /* padding-inline: 2.5rem; */


    @media (width > 760px) {
      --wrapper-width: 1111px;

    }
  }

  .section {
    padding-block: 5rem;
  }

  .equal-column {
    display: grid;
    gap: var(--equal-column-gap, 1.875rem);

    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }


  }


}


@layer components {
  header {
    position: relative;
    margin-block-start: 64px;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 2.625rem;
      margin: 0;
    }

    img {
      width: 220px;
    }

    a {
      position: relative;
    }
  }

  .site-hero {
    height: 640px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding-inline: 96px; */
    background-color: var(--clr-peach);
    background-image: url('./assets/home/desktop/bg-pattern-hero-home.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    border-radius: 15px;
    color: var(--clr-white);
  }

  .hero-content {
    position: relative;
    width: 50%;
    height: auto;
    margin-left: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 40px;

    p {
      text-wrap: balance;
    }

  }

  .hero-image {
    height: 100%;
    overflow-y: hidden;

  }

  button {
    height: 52px;
    width: 152px;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.5s ease-in-out;
    cursor: pointer;

    &[data-theme="dark"] {
      color: var(--clr-dark-grey);
      background-color: white;
    }

    &[data-theme="light"] {
      color: var(--clr-white);
      background-color: var(--clr-peach);
    }


  }

  button:hover,
  button:focus-visible {
    color: var(--clr-white);
    background-color: var(--clr-light-peach);


  }


}


@layer utilities {
  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .bg-primary-peach {
    background-color: var(--clr-peach)
  }

  .bg-second-light-peach {
    background-color: var(--clr-light-peach)
  }

  .bg-dark-grey {
    background-color: var(--clr-dark-grey)
  }

  .bg-dark {
    background-color: var(--clr-black)
  }



  .text-peach {
    color: var(--clr-peach)
  }

  .text-white {
    color: var(--clr-white)
  }

  .text-dark-grey {
    color: var(--clr-dark-grey)
  }

  .text-black {
    color: var(--clr-black)
  }

  .text-center {
    text-align: center;
  }


}